body{
  background-image: url('https://wallpaperaccess.com/full/459804.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 765px;
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
}

.Container{
  background: #000000d0;
  opacity: 0.9;
  max-width: 650px;
  max-height: 650px;
  color: white;
  padding: 50px;
  text-align: center;
  border-radius: 100px;
  width: 550px;
}

ul{
padding: 0;
margin: 0;
}

li{
flex-direction: column;
display: flex;
}

li a{
display: block;
color: white;
text-align: center;
padding: 14px;
text-decoration: none;
border-radius: 3px;
}

li  a:hover {
background-color: #9c1c1c;
}
.active {
  background-color: #9c1c1c;
}

.current_location{
  font-family: 'Times New Roman', Times, serif;
  font-weight: 100px;
  background-color: #9c1c1c;
}

.just_search {
  border-radius: 13px;
  background: #ffffff;
  font-family: 'Times New Roman', Times, serif;
  padding: 10px 50px;
  outline: none;
  border: none;
}

button:hover {
  background-color: #9c1c1c;
  color: white;
}

button {
  margin: 10px;
  border-radius: 35%;
  height: 35px;
  width: 70px;
  border: none;
}


